.TaxCalculator {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  max-width: 920px;
  margin: 8px;
}

.TaxCalculator-header {
  display: flex;
  justify-content: space-between;
}
.TaxCalculator-content {
  display: flex;
  flex-direction: column;
}
.TaxCalculator-footer {
  display: flex;
  .TaxCalculator-footer-text {
    margin-top: 6px;
    font-size: 12px;
  }
}

.TaxCalculator-link {
  color: #61dafb;
}
